<section class="wh-login-container">
  <section class="nacho-login">

    <img src="/assets/assets/images/ezcater_logo.png"
         alt="ezCater Logo">
    <h1 class="nacho-login__header">WEBSTER</h1>
    <p>
      Search database structure and definitions<br>Originally from LinkedIn&reg;
    </p>
    {{login-form username=username
                 password=password
                 errorMessage=errorMessage
                 onSubmit=(action "authenticateUser")}}
  </section>
</section>
{{outlet}}
